.fragment {
  width: 100%;
  padding-block: 10vh;
  display: flex;
  /* grid-template-columns: repeat(auto-fll, minmax(300px, 100px)); */
}
.fragment .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fragment .container h3 {
  margin-bottom: 5vh;
  text-align: center;
  font-size: var(--font-size-large);
  margin-left: -8%;
}
.fragment .container .ispod {
  display: flex;
  width: 80%;
  margin-block: 5vh;
  justify-content: center;
  gap: 20%;
  height: auto;
}
.fragment .container .ispod img {
  width: 30vw;
  aspect-ratio: 1 !important;
  height: 20vw;
}
.fragment .container .ispod .p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  width: 40%;
  max-width: 600px;
}
.fragment .container .ispod .p a {
  padding: 2vh;
  font-size: var(--font-size-mid);
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
}
