.galerija {
  width: 100%;
}

.galerija .slika {
  position: relative;
  height: auto;
}

.galerija .slika::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  top: 0;
  opacity: 0.8;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.galerija .slika h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-Xlarge);
  color: white;
  z-index: 1;
  font-weight: 500;
  word-spacing: 2vh;
  width: 80%;
  text-align: center;
  text-align: center;
}

.galerija .slika img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 80vh !important;
  object-fit: cover;
}

.galerija .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;  
  padding: 2rem 2rem;
}

.galerija .grid .container {
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.3;
  text-align: center;
  position: relative;
}
.galerija .createNew{
  background-color: var(--secondary-color);

  margin-block: 20px;


  margin-left: calc(100% - 100px);
}
.createNew {
  margin: 50px;
  margin-left: calc(100% - 200px);

  flex-direction: column;
  border-radius: 1000%;
  font-size: var(--font-size-Xlarge);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  cursor: pointer;
}
.createNew p {
  transform: translateY(-2.5px);
  color: white;
}

.galerija .grid .container img {
  width: 400px;
  position: absolute;
  top: 50%;
  transition: filter 0.3s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
}

.galerija .grid .container h4 {
  position: absolute;
  top: 50%;
  text-transform: capitalize;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: var(--font-size-large);
  color: var(--primary-color);
  opacity: 0;
  display: none;
}

.galerija .grid .container:hover img {
  filter: brightness(70%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.predGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7.5vh;
  align-items: center;
  padding: 5vh 10vh;
  justify-content: center;
}
.predGrid h2 {
  font-size: var(--font-size-Xlarge);
  font-weight: 400;
  position: relative;
  width: max-content;
}
.predGrid h1{
  font-size: var(--font-size-Xlarge);
  font-weight: 400;
  position: relative;
  width: max-content;
}
.predGrid h2::after {
  top: 110%;
  left: 50%;
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 2px;
  content: "";
  background-color: var(--primary-color);
}
.predGrid h1::after {
  top: 110%;
  left: 50%;
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 2px;
  content: "";
  background-color: var(--primary-color);
}
.predGrid .searchBar {
  width: 80%;
  min-width: 300px;
  border: 1px solid #252525;
  height: auto;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.predGrid .searchBar .filter {
  background-color: var(--font-color-primary);
  display: flex;
  width: max(70px, 5%);
  justify-content: center;
  align-items: center;
}
.predGrid .searchBar .filter img {
  filter: invert(1);
  width: 40%;
  cursor: pointer;
}
 .predGrid .searchBar input {
  outline: none;
  box-sizing: border-box;
  padding: 1vh;
  font-size: var(--font-size-mid);
  border: none;
  width: max(calc(100% - 90px - 5vh), calc(100% - 5vh - 20px - 10%));
}
.predGrid .searchBar .search {
  width: 3vh;
  cursor: pointer;
  margin-inline: 10px;
  filter: invert(0.5);
}
.galerija .grid .container:hover h4 {
  display: block;
  animation: fade-in 0.5s ease-in-out forwards;
  background-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.outlay {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100%;
  background-color: black;
  position: fixed;
}

.modal {
  position: fixed;
  z-index: 1000;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 5vh;
  padding: 5vh 5vh 20vh 5vh;
  overflow: hidden;
  border-radius: 2.5vh;
}
.modal * {
  padding: 1vh;
}
.modal h3 {
  padding: 2vh;
  font-size: var(--font-size-mid);

  font-weight: 800;
}

.modal .doleSkroz {
  background-color: #e1e1e1;
  padding-block: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 2vh;
}

.modal div:has(label) {
  display: flex;
  margin-left: 5vh;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vh;
}
.modal div:has(label) label {
  font-size: var(--font-size-small);
  color: var(--font-color-secondary);
  font-weight: 500;
}
.modal input,
.modal textarea {
  outline: none;
  border: 1px solid #c3c1c1;
  padding: 1vh;
  margin-left: 20px;
  font-weight: 500;

  width: 35vw;
  font-size: var(--font-size-small);
}
.modal button {
  padding: 2vh;
  margin-inline: 1vh;
  width: max-content;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: var(--font-color-secondary);
  background: transparent;
}
.modal button:nth-child(2) {
  background-color: var(--primary-color);
  color: white;
}
.not {
  display: none;
}
.rGrid{
  min-height: 90vh;
  gap:clamp(5%,5rem,10rem);
  padding: 5vh 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: flex-start;
}
.rGrid .kartica{
  display: grid;
  width:   100%;
  grid-template-areas:
  'slika'
  'slika'
  'slika'
  'ispod '
  'button'
  ;
  gap: 1rem;
  /* grid-auto-rows: 1fr; */
  min-width: 30vh;
  border-radius: 20px 0  ;
  box-shadow: 0 0 2px var(--font-color-secondary);
  height: auto;
  overflow:hidden;
}
.rGrid .kartica .glavnaSlika{
    grid-area: slika;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(.6);
    border-radius: 20px 0;
}
.rGrid .kartica .ispod{
  width: 100%;
  grid-area: ispod;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 5%;
  gap: 1rem;
}
.rGrid .kartica .ispod h2{
  font-size: var(--font-size-mid);
}
.rGrid .kartica .ispod .opcije{
  gap: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  justify-content: flex-start;
}
.rGrid .kartica .ispod .opcije .boje{
  display: flex;
  flex-wrap: nowrap;
  gap: .125rem;
  align-items: center;
  width: fit-content;
  justify-content: flex-start;
}
.rGrid .kartica .ispod .opcije .boje h3{
  font-size: var(--font-size-small) !important;
  font-weight: 500;
  width: 40%;
}
.rGrid .kartica .ispod .opcije .boje .colorContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  gap: .75rem;
}
.rGrid .kartica .ispod .opcije .boje .colorContainer div{
  border-radius: 100% ;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
}
.rGrid .kartica .ispod .opcije .boje .colorContainer div:nth-child(2){
  background-color: var(--secondary-color) !important;
}

.rGrid .kartica .button{
  grid-area: button;

}

.rGrid .kartica select{
  border: none;
  font-size: var(--font-size-small);
  outline: none;
}

.rGrid .kartica .button{
  margin-top: 3rem;
margin-inline: auto;
  z-index: 2;
  height: auto;
  width: 80%;
}
.rGrid .kartica .button a{
text-decoration: none;
background-color: var(--primary-color);
overflow: hidden;
border-radius: 1rem;
margin-bottom: 2rem;
text-align: center;
transition: .5s;
position: relative;
font-weight: 500;
padding: .75rem 2rem;
display: block;
z-index: 2;


color: #fff;
}
.rGrid .kartica .button a::before{
  position: absolute;
  height: 50%;
  aspect-ratio: 1;
  top: 50%;
  border-radius: 100%;
  left: 50%;
  content: '';
  background-color: var(--secondary-color);
  z-index: -1;
  top: 150%;
  transform:translate(0%,-50%);

}
.rGrid .kartica .button a:focus{
transform: scale(.98);

transition: .5s;
}
.rGrid .kartica .button a:focus::before{
  animation: focus .5s ease-in-out forwards;
}
@keyframes focus {
  0%{
    top: 150%;
    height: 50%;
  transform:translate(-50%,-50%);

  }
  30%,50%{
    top:50%;
    height:50%;
  transform:translate(-50%,-50%);

  }
  100%{
    top: 50%;
    height: 1000%;
  transform:translate(-50%,-50%);

  }
}
