.galerija {
  width: 100%;
  padding-top: 4vh;
}

.galerija .slika {
  position: relative;
  height: auto;
}

.galerija .slika::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  top: 0;
  opacity: 0.8;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.galerija .slika h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 2vh));
  font-size: var(--font-size-Xlarge);
  color: white;
  z-index: 1;
  font-weight: 500;
  word-spacing: 2vh;
  width: 80%;
  text-align: center;
  text-align: center;
}

.galerija .slika img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 80vh !important;
  object-fit: cover;
}

.galerija .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  padding: 2rem 2rem;
}

.galerija .grid .container {
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.3;
  text-align: center;
  position: relative; /* Added this line for positioning */
}

.galerija .grid .container img {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 50%;
  transition: filter 0.3s ease-in-out; /* Added this line for image animation */
  left: 50%;
  transform: translate(-50%, -50%);
}

.galerija .grid .container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: var(--font-size-large);
  color: var(--primary-color);
  opacity: 0;
  display: none;
}

.galerija .grid .container:hover img {
  filter: brightness(70%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.galerija .predGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7.5vh;
  align-items: center;
  padding-block: 15vh 10vh;
  justify-content: center;
}
.galerija .predGrid h2 {
  font-size: var(--font-size-Xlarge);
  font-weight: 400;
  position: relative;
  width: max-content;
}
.galerija .predGrid h2::after {
  top: 110%;
  left: 50%;
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 2px;
  content: "";
  background-color: var(--primary-color);
}
.galerija .predGrid .searchBar {
  width: 80%;
  border: 1px solid #252525;
  height: auto;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.galerija .predGrid .searchBar .filter {
  background-color: var(--font-color-primary);
  display: flex;
  width: max(70px, 5%);
  padding-block: 0.5vh;
  justify-content: center;
  align-items: center;
}
.galerija .predGrid .searchBar .filter img {
  filter: invert(1);
  width: 40%;
  cursor: pointer;
}
.galerija .predGrid .searchBar input {
  outline: none;
  box-sizing: border-box;
  padding: 2vh;
  font-size: var(--font-size-mid);
  border: none;
  width: max(calc(100% - 90px - 5vh), calc(100% - 5vh - 20px - 10%));
}
.galerija .predGrid .searchBar .search {
  width: 5vh;
  cursor: pointer;
  margin-inline: 10px;
  filter: invert(0.5);
}
.galerija .grid .container:hover h4 {
  display: block;
  animation: fade-in 0.5s ease-in-out forwards;
  background-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
