.grid {
  width: 95%;
  z-index: 1000;
  margin-top: 5vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  justify-items: center;
  align-items: center;
  padding: 2vh;
}

.gridItem {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.gridItem Image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: auto;
  transition: transform 1s ease-in;
  margin: 0;
  object-fit: cover;
}

.gridItem Image:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in;
}
