.delete{
    position: absolute;
    width: 75px;
    height: 75px;
    margin: 50px;
    right: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
.delete h4{
    font-size: var(--font-size-mid) !important;
    font-weight: bold;
}
.delete img{
    background-color:var(--secondary-color);
    cursor: pointer;
    border-radius: 1rem;
    width: 50%;
    box-sizing: content-box;
    padding: .5rem;
    aspect-ratio: 1;
}

.mNo{display: none !important;}
.mYes{display: flex;}

.modal{
    position:fixed;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: white;
    padding: 2rem;
    border: 1px solid var(--font-color-primary);
    flex-direction: column;
    gap: 1rem;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.outlay{
    position: fixed;
    z-index: 998; 
width: 100%;
height: 100%;
opacity: .2;
top: 0;
left: 0;
background-color: black;

}

.modal button{
    padding: .5rem 1rem;
    width: fit-content;
    margin-inline: auto;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: var(--font-size-small);
}