.page {
  width: 100%;
  padding: 20vh 5vh;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  gap: 10vh;
  grid-template-areas:
    "name name"
    "paragraf  img";
  grid-auto-columns: 1fr;
}
.page h1 {
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  margin-left: 5vw;
  grid-area: name;
  max-height: calc(var(--font-size-Xlarge) * 1.2);
  font-size: var(--font-size-Xlarge);
}
.page h1::after {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: var(--secondary-color);
  content: "";
  width: 60%;
  height: 2px;
  transform: translate(-50%, -50%);
}
.page .paragraf {
  grid-area: paragraf;
  padding-block: 1.25vw;
}
.page .paragraf p {
  font-size: var(--font-size-small);
  font-weight: 200;
}
.page .slika {
  grid-area: img;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
  min-height:20rem;
}
.page .slika img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
@media (max-width: 700px) {
  .page {
    padding-inline: 5vh;
    grid-template-areas:
      "name "
      "img"
      "paragraf ";
  }
  .page .slika {
    width: 100%;
    margin-inline: auto;
  }
}
@media (min-width: 1000px) {

  .page {
    grid-template-areas:
      "name name "
      "paragraf img";
  }
}
.page .boje {
  padding-top: 5vh;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
}
.page .boje p {
  font-size: var(--font-size-small);
  font-weight: 900;
  text-transform: capitalize;
}
.page .boje .container {
  flex-wrap: wrap;
}
.page .boje div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.page .boje span {
  margin-right: 20px;
  width: 12px;
  display: inline-block;
  aspect-ratio: 1;
  background-color: red;
}
