.webShop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 80vh;
  min-height: 80svh;
  margin-bottom: 2.5rem;
}
.webShop .h1 {
  width: 100%;
  margin: 5vh auto;
}
.webShop .h1 h1 {
  display: block;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  font-size: var(--font-size-Xlarge);
  font-weight: 500;
  color: var(--font-color-primary);
}
.webShop .h1 h1::after {
  top: calc(100% + 0.5rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 2px;
  content: "";
  background-color: var(--font-color-primary);
}

.webShop .buttons {
  display: flex;
  gap: 1rem;
  flex-direction: flex-start;
  margin-inline: 5rem;
  margin-bottom: 1rem;
}
.webShop .buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  /* background-color: var(--primary-color); */
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.webShop .buttons .selected {
  transition: 0.5s;
  background-color: var(--secondary-color);
}
.webShop .ld {
  display: flex;
  flex-wrap: wrap;
}

.webShop .desno {
  margin-inline: auto;
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.webShop .desno .submit {
  width: 80%;
  margin-inline: auto;
}
.webShop .submit button {
  border: none;
  margin-top: 2rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: var(--font-size-mid);
  position: relative;
  padding: 0.75rem 3rem;
  margin-inline: auto;
  display: block;
  transition: 0.5s;
}

.webShop .levo {
  max-width: 80% !important;
  width: 750px !important;
  margin-inline: 2.5rem;
  align-items: center;
  justify-content: center;
}
.webShop .form form {
  display: flex;
  margin-top: 2.5rem;
  flex-direction: column;
  gap: 2rem;
}

.webShop .form .text {
  position: relative;
  width: 100%;
}

.webShop .form .text input {
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--font-color-secondary);
}

.webShop .form .text input:focus {
  border: none;
  outline: 1.5px solid var(--secondary-color);
}
.webShop .form .text label {
  z-index: -1;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translate(1rem, -50%);
  color: var(--font-color-secondary);
  left: 0;
  transition: 0.5s;
}
.webShop .form .text:has(input:not(:placeholder-shown)) label {
  top: -0.125rem;
  left: 0;
  transition: 0.5s;
  color: var(--font-color-primary);
  transform: translate(0, -100%);
}

.webShop .levo p {
  font-size: var(--font-size-mid) !important;
}

/* GOOD SCENARIO */
.webShop .sideBar {
  position: fixed;
  top: 5rem;
  right: 0;
  display: flex;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  background-color: white;
}
.webShop .sideBar .avatar {
  overflow: hidden;
  border-radius: 100%;
  aspect-ratio: 1;
  z-index: 100;
  padding: 0.75rem;
  font-size: var(--font-size-large);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shop {
  display: grid;
  grid-template-areas:
    "levo desno"
    "levo desno";
  grid-auto-columns: 1fr;
  gap: 0;
  min-height: 75vh;
}
.shop .desna {
  grid-area: desno;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.shop .desna button {
  width: 80%;
  opacity: 0.4;
  margin-inline: auto;
  padding: 0.5rem 0;
  background-color: var(--primary-color);
  font-size: var(--font-size-mid);
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  color: white;
  transition: 0.5s;
}
.shop button:focus {
  transition: 0.5s;
  transform: scale(0.98);
}
.shop .leva {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: levo;
  height: 100%;
  transition: 0.2s;
}
.shop .leva button {
  width: 80%;
  margin-inline: auto;
  padding: 0.5rem 0;
  background-color: var(--secondary-color);
  font-size: var(--font-size-mid);
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  color: white;
}

.shop .leva .korpa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.shop .leva .korpa img {
  width: 35%;
  opacity: 0.75;
  height: 35%;
}
.shop .leva .korpa p {
  font-size: var(--font-size-large);
  font-weight: 500;
  color: var(--font-color-secondary);
}

.shop .userOptions {
  position: fixed;
  top: 5rem;
  right: -100%;
  padding: 2rem 5rem;
  transition: 0.5s;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 5rem;
  padding: 2rem;
}
.shop .openOptions {
  transition: 0.5s;
  right: 0 !important;
}
.shop .openOptions::after {
  right: 0;
}

.shop .userOptions .podatci {
  display: flex;
  gap: 2rem;
}
.shop .userOptions button {
  padding: 0.25rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: var(--font-size-mid);
  cursor: pointer;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
