.webShop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  min-height: 100svh;
  margin-bottom: 2.5rem;
}
.webShop .h1 {
  width: 100%;
  margin: 5vh auto;
}
.webShop .h1 h1 {
  display: block;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  font-size: var(--font-size-Xlarge);
  font-weight: 500;
  color: var(--font-color-primary);
}
.webShop .h1 h1::after {
  top: calc(100% + 0.5rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 2px;
  content: "";
  background-color: var(--font-color-primary);
}

.webShop .buttons {
  display: flex;
  gap: 1rem;
  flex-direction: flex-start;
  margin-inline: 5rem;
  margin-bottom: 1rem;
}
.webShop .buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  /* background-color: var(--primary-color); */
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.webShop .buttons .selected {
  transition: 0.5s;
  background-color: var(--secondary-color);
}
.webShop .ld {
  display: flex;
  flex-wrap: wrap;
}

.webShop .desno {
  margin-inline: auto;
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.webShop .desno .submit {
  width: 80%;
  margin-inline: auto;
}
.webShop .submit button {
  border: none;
  margin-top: 2rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: var(--font-size-mid);
  position: relative;
  padding: 0.75rem 3rem;
  margin-inline: auto;
  display: block;
  transition: 0.5s;
}

.webShop .levo {
  max-width: 80% !important;
  width: 750px !important;
  margin-inline: 2.5rem;
  align-items: center;
  justify-content: center;
}
.webShop .form form {
  display: flex;
  margin-top: 2.5rem;
  flex-direction: column;
  gap: 2rem;
}

.webShop .form .text {
  position: relative;
  width: 100%;
}

.webShop .form .text input {
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--font-color-secondary);
}

.webShop .form .text input:focus {
  border: none;
  outline: 1.5px solid var(--secondary-color);
}
.webShop .form .text label {
  z-index: -1;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translate(1rem, -50%);
  color: var(--font-color-secondary);
  left: 0;
  transition: 0.5s;
}
.webShop .form .text:has(input:not(:placeholder-shown)) label {
  top: -0.125rem;
  left: 0;
  transition: 0.5s;
  color: var(--font-color-primary);
  transform: translate(0, -100%);
}

.webShop .levo p {
  font-size: var(--font-size-mid) !important;
}
